# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.workspace
*.pdsbak
.__pycache__
.idea
'__pycache__' 
ArduinoUno.pdsprj.Pc-Juan.Juan.workspace
Sketch/
Arduino/ArduinoUno.pdsprj.Pc-Juan.Juan.workspace
Arduino/Last Loaded ArduinoUno.pdsbak
__pycache__/
Macos/
