{% extends 'base.html' %}

{% block title %}Sistema de Monitoreo - Detalles de Motor{% endblock %}

{% block content %}
<h1 class="mb-4">Detalles de Motor</h1>
<a href="/graph" class="btn btn-primary mb-4">Graficos en vivo</a>

<div class="row">
    <!-- Cuadro de "Motor Characteristics" -->
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <h4>Caracteristicas de Motor</h4>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <ul class="list-group-item">Voltage: {{ voltage }} </ul>
                    <ul class="list-group-item">RPM: {{ rpm }}</ul>
                    <ul class="list-group-item">Current: {{ current }} </ul>
                    <ul class="list-group-item">Frequency: {{ frequency }} </ul>
                    <ul class="list-group-item">Max Temperature: {{ max_temp }}°C</ul>
                    <ul class="list-group-item">Rated Power: {{ rated_power }} HP</ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <h4>Tips de Mantenimiento</h4>
            </div>
            <div class="card-body">
                <ul>Limpie el motor con regularidad para eliminar el polvo y la suciedad.</ul>
                <ul>Lubrique las piezas móviles según las recomendaciones del fabricante.</ul>
                <ul>Inspeccione los cables y las conexiones en busca de desgaste.</ul>
                <ul>Realizar pruebas periódicas de funcionamiento y carga.</ul>
                <ul>Evite arranques y paradas frecuentes para prolongar la vida útil.</ul>
                <ul>Mantener un registro y cronograma de mantenimiento.</ul>
            </div>
        </div>
    </div>
</div>

<!-- Indicadores de estado -->

<table class="table motor-table">
    <thead>
        <tr>
            <th>Indicador</th>
            <th>Valor</th>
            <th>Esperado</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Voltaje</td>
            <td><span id="voltaje"></span> V</td>
            <td>220-240 V</td>
            <td class="indicator-status status-green">Normal</td>
        </tr>
        <tr>
            <td>Corriente</td>
            <td><span id="corriente"></span> A</td>
            <td>2.0-3.0 A</td>
            <td class="indicator-status status-green" id="corriente-indicator">Attention</td>
        </tr>
        <tr>
            <td>Temperatura</td>
            <td><span id="temperatura"></span> °C</td>
            <td>< 80°C</td>
            <td class="indicator-status status-green">Danger</td>
        </tr>
        <tr>
            <td>RPM</td>
            <td><span id="rpm"></span> rpm</td>
            <td>1850 RPM</td>
            <td class="indicator-status status-green" id="rpm-indicator">Normal</td>
        </tr>
    </tbody>
</table>

<!-- Script to change indicator status -->
<script>
    window.onload = function () {
        let socket = io();
        socket.on('data', function(data) {
            document.getElementById('temperatura').textContent = data.temperatura;
            document.getElementById('voltaje').textContent = data.voltaje;
            document.getElementById('corriente').textContent = data.corriente;
            document.getElementById('rpm').textContent = data.rpm;

            // Change indicator status based on data
            let voltageIndicator = document.querySelector('#voltaje').parentNode.parentNode.querySelector('.indicator-status');
            if (data.voltaje < 200 || data.voltaje > 260) {
                voltageIndicator.classList.remove('status-green', 'status-yellow');
                voltageIndicator.classList.add('status-red');
                voltageIndicator.textContent = 'Danger';
            } else if (data.voltaje < 210 || data.voltaje > 250) {
                voltageIndicator.classList.remove('status-green', 'status-red');
                voltageIndicator.classList.add('status-yellow');
                voltageIndicator.textContent = 'Attention';
            } else {
                voltageIndicator.classList.remove('status-yellow', 'status-red');
                voltageIndicator.classList.add('status-green');
                voltageIndicator.textContent = 'Normal';
            }

            let corrienteIndicator = document.querySelector('#corriente').parentNode.parentNode.querySelector('.indicator-status');
            if (data.corriente < 1.5 || data.corriente > 3.5) {
                corrienteIndicator.classList.remove('status-green', 'status-yellow');
                corrienteIndicator.classList.add('status-red');
                corrienteIndicator.textContent = 'Danger';
            } else if (data.corriente < 2.0 || data.corriente > 3.0) {
                corrienteIndicator.classList.remove('status-green', 'status-red');
                corrienteIndicator.classList.add('status-yellow');
                corrienteIndicator.textContent = 'Attention';
            } else {
                corrienteIndicator.classList.remove('status-yellow', 'status-red');
                corrienteIndicator.classList.add('status-green');
                corrienteIndicator.textContent = 'Normal';
            }

            let temperaturaIndicator = document.querySelector('#temperatura').parentNode.parentNode.querySelector('.indicator-status');
            if (data.temperatura > 90) {
                temperaturaIndicator.classList.remove('status-green', 'status-yellow');
                temperaturaIndicator.classList.add('status-red');
                temperaturaIndicator.textContent = 'Danger';
            } else if (data.temperatura > 80) {
                temperaturaIndicator.classList.remove('status-green', 'status-red');
                temperaturaIndicator.classList.add('status-yellow');
                temperaturaIndicator.textContent = 'Attention';
            } else {
                temperaturaIndicator.classList.remove('status-yellow', 'status-red');
                temperaturaIndicator.classList.add('status-green');
                temperaturaIndicator.textContent = 'Normal';
            }

            let rpmIndicator = document.querySelector('#rpm').parentNode.parentNode.querySelector('.indicator-status');
            if (data.rpm < 1500 || data.rpm > 2000) {
                rpmIndicator.classList.remove('status-green', 'status-yellow');
                rpmIndicator.classList.add('status-red');
                rpmIndicator.textContent = 'Danger';
            } else if (data.rpm < 1600 || data.rpm > 1900) {
                rpmIndicator.classList.remove('status-green', 'status-red');
                rpmIndicator.classList.add('status-yellow');
                rpmIndicator.textContent = 'Attention';
            } else {
                rpmIndicator.classList.remove('status-yellow', 'status-red');
                rpmIndicator.classList.add('status-green');
                rpmIndicator.textContent = 'Normal';
            }
        });
    };
</script>

{% endblock %}